@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import url("components/toggle.css");
@import url("components/input.css");
@import url("components/search.css");
@import url("components/controls.css");
@import url("components/list.css");
@import url("components/clear.css");

:root {
  /* Color Palette */
  --white: oklch(100% 0 0);
  --black: oklch(0% 0 0);

  --gray-50: oklch(98% 0.01 240);
  --gray-100: oklch(95% 0.01 240);
  --gray-200: oklch(92% 0.015 240);
  --gray-300: oklch(88% 0.02 240);
  --gray-600: oklch(45% 0.03 240);
  --gray-500: oklch(55% 0.03 240);
  --gray-900: oklch(20% 0.03 240);

  --blue-100: oklch(95% 0.05 250);
  --blue-300: oklch(84% 0.12 250);
  --blue-500: oklch(72% 0.17 250);
  --blue-600: oklch(62% 0.18 250);

  --green-500: oklch(65% 0.18 150);
  --green-600: oklch(55% 0.18 150);

  --red-500: oklch(63% 0.22 29);
  --red-600: oklch(55% 0.22 29);

  /* Font */
  --font-inter: "Inter", sans-serif;

  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;

  /* Spacing */
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.25rem;
  --space-6: 1.5rem;
  --space-7: 1.75rem;
  --space-8: 2rem;
  --space-9: 2.5rem;
  --space-10: 3rem;
  --space-11: 3.5rem;

  /* Border Radius */
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;
  --radius-2xl: 1.25rem;
  --radius-3xl: 1.5rem;

  /* Box Shadow */
  --shadow-sm: 0 0 0 2px rgba(0, 0, 0, 0.2);
  --shadow-md: 0 0 0 2px rgba(0, 0, 0, 0.2), 0 0 0 4px rgba(0, 0, 0, 0.2);
  --shadow-lg: 0 0 0 4px rgba(0, 0, 0, 0.2), 0 0 0 6px rgba(0, 0, 0, 0.2);

  /* Transition */
  --transition-base: 300ms ease-in-out;
  --transition-slow: 500ms ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  color: var(--gray-900);
  font-family: var(--font-inter);
}

button {
  background: transparent;
  border: none;
}

.todo-app {
  max-width: 100%;
  min-height: 100vh;
}

.todo-app__header {
  width: 100%;
  margin-top: var(--space-8);
  display: flex;
  justify-content: center;
}

.todo-app__heading {
  text-align: center;
}

.todo-app__title {
  font-size: var(--text-4xl);
  color: var(--blue-500);
  margin-bottom: var(--space-2);
}

.todo-app__subtitle {
  color: var(--gray-500);
}
