@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import url("components/toggle.css");
@import url("components/input.css");
@import url("components/search.css");
@import url("components/controls.css");
@import url("components/list.css");
@import url("components/clear.css");
@import url("components/modal.css");

:root {
  /* Color Palette */
  --color-white: oklch(100% 0 0);
  --color-black: oklch(0% 0 0);
  --color-dark: oklch(16% 0.015 250);
  --color-light-dark: oklch(0% 0 0 / 0.5);


  --color-gray-50: oklch(98% 0.01 240);
  --color-gray-100: oklch(95% 0.01 240);
  --color-gray-200: oklch(92% 0.015 240);
  --color-gray-300: oklch(88% 0.02 240);
  --color-gray-400: oklch(70% 0.03 240);
  --color-gray-500: oklch(55% 0.03 240);
  --color-gray-600: oklch(45% 0.03 240);
  --color-gray-700: oklch(35% 0.03 240);
  --color-gray-800: oklch(25% 0.03 240);
  --color-gray-900: oklch(20% 0.03 240);

  --color-blue-50: oklch(98% 0.025 250);
  --color-blue-100: oklch(95% 0.05 250);
  --color-blue-200: oklch(90% 0.08 250);
  --color-blue-300: oklch(84% 0.12 250);
  --color-blue-400: oklch(78% 0.14 250);
  --color-blue-500: oklch(72% 0.17 250);
  --color-blue-600: oklch(62% 0.18 250);
  --color-blue-700: oklch(52% 0.18 250);

  --color-green-500: oklch(65% 0.18 150);
  --color-green-600: oklch(55% 0.18 150);

  --color-red-50: oklch(97% 0.04 350);
  --color-red-100: oklch(93% 0.08 350);
  --color-red-200: oklch(87% 0.14 350);
  --color-red-300: oklch(78% 0.2 350);
  --color-red-400: oklch(68% 0.26 350);
  --color-red-500: oklch(60% 0.3 350);
  --color-red-600: oklch(52% 0.3 350);

  /* Font */
  --font-inter: "Inter", sans-serif;

  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;

  /* Spacing */
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.25rem;
  --space-6: 1.5rem;
  --space-7: 1.75rem;
  --space-8: 2rem;
  --space-9: 2.5rem;
  --space-10: 3rem;
  --space-11: 3.5rem;

  /* Border Radius */
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;
  --radius-2xl: 1.25rem;
  --radius-3xl: 1.5rem;

  /* Box Shadow */
  --shadow-sm: 0 0 2px rgba(0, 0, 0, 0.2);
  --shadow-md: 0 0 4px rgba(0, 0, 0, 0.2);
  --shadow-lg: 0 2px 8px rgba(0, 0, 0, 0.2);
  
  /* Transition */
  --transition-base: 200ms ease;
  --transition-slow: 300ms ease;

  /* Semantics Light Mode */
  --bg-app: var(--color-white);
  --bg-slider: var(--color-white);

  --text-primary: var(--color-gray-900);
  --text-secondary: var(--color-gray-500);
  --text-tertiary: var(--color-gray-300);

  --text-shadow-blue: none;

  --shadow-btn-blue: none;
  --shadow-btn-red: none;
  --shadow-dynamic: none;
  --shadow-card: var(--shadow-md);
  --shadow-card-hover: var(--shadow-lg);
}

[data-theme="dark"] {
  --bg-app: var(--color-dark);
  --text-primary: var(--color-white);
  --text-secondary: var(--color-white);
  --text-tertiary: var(--color-red-500);
  --text-shadow-blue: 0 4px 20px var(--color-blue-300);
  --bg-slider: var(--color-black);
  --shadow-btn-blue: 0 0 8px var(--color-blue-500);
  --shadow-btn-red: 0 0 8px var(--color-red-500);
  --shadow-dynamic: 0 0 8px var(--color-white);
  --shadow-card:  0 0 4px var(--color-blue-500);
  --shadow-card-hover: 0 2px 8px var(--color-blue-500);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-app);
  color: var(--text-primary);
  font-family: var(--font-inter);
  transition: background-color var(--transition-base);
}

button {
  background: transparent;
  border: none;
}

.todo-app {
  width: 100%;
  min-height: 100vh;
}

.todo-app__header {
  margin: var(--space-6) var(--space-5) 0;
  display: flex;
  align-items: center;
}

.todo-app__heading {
  width: 100%;
  text-align: left;
}

.todo-app__title {
  font-size: var(--text-3xl);
  color: var(--color-blue-500);
  text-shadow: var(--text-shadow-blue);
  margin-bottom: var(--space-2);
}

.todo-app__subtitle {
  color: var(--text-secondary);
  text-shadow: var(--shadow-dynamic);
}

.notification {
  position: fixed;
  top: var(--space-8);
  right: var(--space-4);
  background-color: var(--color-blue-500);
  padding: var(--space-4);
  border-radius: var(--radius-md);
  z-index: 999;
  animation: slideIn var(--transition-slow), fadeOut var(--transition-slow) 2.7s;
}

@keyframes slideIn {
  from { transform: translateX(100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@media screen and (min-width: 768px) {
  .todo-app__header {
    margin: var(--space-6) var(--space-8) 0;
  }

  .todo-app__heading {
    text-align: center;
  }
}
