.todo-app__controls {
    margin: var(--space-7) var(--space-8) 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-app__stats {
    display: flex;
    gap: var(--space-5);
    text-align: center;
}

.todo-app__stat {
    background-color: var(--gray-100);
    display: flex;
    flex-direction: column;
    padding: var(--space-4) var(--space-6);
    border-radius: var(--radius-md);
}

.todo-app__stat-value {
    font-size: var(--text-lg);
    font-weight: var(--font-semi-bold);
    color: var(--blue-600);
    margin-bottom: var(--space-1);
}

.todo-app__stat-label {
    font-size: var(--text-sm);
    font-weight: var(--font-light);
    color: var(--gray-600);
}

.todo-app__filter-buttons {
    display: flex;
    gap: var(--space-4);
}

.todo-app__filter-btn {
    background-color: var(--gray-100);
    display: flex;
    flex-direction: column;
    font-size: var(--text-sm);
    font-weight: var(--font-medium);
    padding: var(--space-3) var(--space-4);
    border-radius: var(--radius-md);
}

.todo-app__filter-btn--active {
    background-color: var(--blue-600);
    color: var(--white);
    font-weight: var(--font-semi-bold);
}