.todo-app__search-section {
    margin: var(--space-6) var(--space-8) 0;
    display: flex;
    justify-content: center;
    position: relative;
}

.todo-app__search-icon {
    position: absolute;
    top: 50%;
    left: var(--space-4);
    font-size: var(--text-xl);
    color: var(--gray-300);
    transform: translateY(-50%);
}

.todo-app__search-input {
    width: 100%;
    padding: var(--space-4)  var(--space-4)  var(--space-4)  var(--space-11);
    font-size: var(--text-base);
    border-radius: var(--radius-md);
    border: 2px solid var(--gray-300);
    transition: border-color var(--transition-base), box-shadow var(--transition-base);
}

.todo-app__search-input:focus {
    outline: none;
    border-color: var(--blue-500);
    box-shadow: 0 0 0 3px var(--blue-100);
}